{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        {% block analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-249987756-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-249987756-1');
        </script>
        {% endblock analytics %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'project:index'%}">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'project:index'%}">ホーム</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'project:product_list' %}">商品一覧</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'project:wordreiew_list' %}">口コミ掲示板</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'project:rank_list' %}">ランキング</a></li>
                        
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'project:wish_list' user.pk %}">お気に入り</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'project:user_review_page' user.pk %}">ユーザーレビュー・口コミ</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'project:profile_edit' user.pk %}">アカウント</a></li>
                            {% if user.is_staff %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'manage:top' %}">マネージメントページ</a></li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                            <li class="nav-link active">こんにちは{{ user.username }}さん</li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}">ログアウト</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">ログイン</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_signup' %}">サインアップ</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block header %}{% endblock %}
        {% block contents %}{% endblock %}

        <!-- Footer-->
        <footer class="py-5 bg-white">
            <div class="container"><p class="m-0 text-center text-blak">Copyright &copy; Comparison Project Group B </p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        {% block extrajs %}{% endblock %}
    </body>
</html>
<br>