{% extends 'base.html' %}

{% load static %}
<title>{% block title %}{% endblock %} Product List</title>

{% block contents %}
<section class="page-section">
  <div class="album py-5 bg-light">
    <div class="container">
      {% if not products %}
      <div class="col-12">何もないです。情報は見つけられません。</div>
      {% else %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in products %}
          <div class="col">
            <div class="card shadow-sm">
              <img class="img-fluid" alt="Responsive image" src="{{ product.image1.url }}">

              <div class="card-body">
                <p class="card-text"></p>
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.product_name }}</a>
                <p class="card-text"></p>
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}"><span>{{ product.price1 }}</span> JPY</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}

      <!-- ページネーション処理 -->
      {% if products.has_other_pages %}
        <nav>
          <ul class="pagination justify-content-center">
            {% if products.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                  <span class="page-link" aria-hidden="true">&laquo;</span>
              </li>
            {% endif %}
    
            {% for i in page_range|default_if_none:products.paginator.get_elided_page_range %}
                {% if products.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    {% if i == products.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        
            {% if products.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
              </li>
            {% endif %}
        </ul>
        </nav>
      {% endif %}
</div>
    </div>
  </div>
</section>
{% endblock %}