{% extends 'base.html' %}
{% load static %}

{% block title %}トップページ | comparison_project{% endblock %}

{% block head %}
<link href="{% static 'css/select.css' %}" rel="stylesheet">
{% endblock %}

{% block header%}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <br>
    <form action="{% url 'project:search_result' %}" method="get">
        <label><input class="form-control" style="width: 500px; height: 39px;" type="text" name="keyword" id="keyword" placeholder="簡単検索" aria-label="Enter search term..." aria-describedby="button-search" required="required" /></label>
        <input type="submit" class="btn btn-primary" value="検索">
    </form>
    <br>
    <a href="{% url 'project:search_advanced'%}">高度な検索</a>
</header>
{% endblock %}

{% block contents %}
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="{% static 'assets/img/toppage2.jpg' %}" alt="..." /></a>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Card Box-->
                    <div class="card mb-4">
                        <a href="{% url 'project:product_list' %}"><img class="card-img-top" src="{% static 'assets/img/product.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">商品</div>
                            <h2 class="card-title h4">商品</h2>
                            <p class="card-text"></p>
                            <a class="btn btn-primary" href="{% url 'project:product_list' %}">もっと見る →</a>
                        </div>
                    </div>
                    <!-- Card Box-->
                    <div class="card mb-4">
                        <a href="{% url 'project:wordreiew_list' %}"><img class="card-img-top" src="{% static 'assets/img/kuchikomi.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">新着口コミ</div>
                            <h2 class="card-title h4">新着口コミ</h2>
                            <p class="card-text"></p>
                            <a class="btn btn-primary" href="{% url 'project:wordreiew_list' %}">もっと見る →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Card Box-->
                    <div class="card mb-4">
                        <a href="{% url 'project:search_advanced'%}"><img class="card-img-top" src="{% static 'assets/img/kensaku.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">高度な検索</div>
                            <h2 class="card-title h4">高度な検索</h2>
                            <p class="card-text"></p>
                            <a class="btn btn-primary" href="{% url 'project:search_advanced'%}">もっと見る →</a>
                        </div>
                    </div>
                    <!-- Card Box-->
                    <div class="card mb-4">
                        <a href="{% url 'project:rank_list' %}"><img class="card-img-top" src="{% static 'assets/img/chuumokushouhin.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">注目の商品一覧</div>
                            <h2 class="card-title h4">注目の商品一覧</h2>
                            <p class="card-text"></p>
                            <a class="btn btn-primary" href="{% url 'project:rank_list' %}">もっと見る →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">カテゴリー</div>
                <div class="card-body">
                    <ul class="list-unstyled mb-1">
                        {% for c in categories %}
                        <li  class="{% if category.slug == c.slug %}{% endif %}" >
                            <a href="{{ c.get_absolute_url }}">{{ c.category_name|title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">ランキング</div>
                <div class="card-body">
                    {% for product in product_list %}
                    <p style="text-align:left">#{{ forloop.counter }}　<a href="{% url 'project:product_detail' product.slug %}">{{ product.product_name|truncatechars:20 }}</a></p>
                    <br>
                    {% endfor %}
                </div>
                <a href="{% url 'project:rank_list'%}">もっと見る</a>
            </div>
            <div class="card mb-4">
                <div class="card-header">新着口コミ</div>
                <div class="card-body">
                    {% if word_list %}
                    {% for word in word_list|slice:":5" %}
                    <p style="text-align:left">ユーザーID：<a href="{% url 'project:user_review_page' word.created_by.pk %}">{{ word.created_by|truncatechars:20 }}</a></p>
                    <p style="text-align:left">タイトル　：<a href="{% url 'project:word_detail' word.pk %}">{{ word.word_title|truncatechars:20 }}</a></p>
                    <hr>
                    {% endfor %}
                    {% endif %}
                </div>
                <a href="{% url 'project:wordreiew_list'%}">もっと見る</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}