{% extends 'base.html' %}

{% load static %}

{% block head %}
<link href="{% static 'css/wordreiew_list.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image1.url }}" alt="..." /></div>
            <!--<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image2.url }}" alt="..." /></div>-->
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.product_name }}</h1>
                <div class="fs-5 mb-5">
                    <!--<p><span class="lead"></span>商品詳細:{{ product.description }}</span> </p>-->
                    <p><span>Rakuten価格: {{ product.price1 }}</span></p>
                    <p><span><a href="{{ product.link1 }}">Rakuten店舗に飛ぶ</a></span></p>
                    
                </div>
            </div>
            <div class="col-md-6">
                <p class="lead">{{ product.description }}</p>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-end mb-4">
    <a class="btn btn-primary float-right" href="{% url 'project:review_create' object.pk %}">レビューを投稿する</a>
</div>

<div class="card mb-4">
    <div class="card-header">レビュー一覧</div>
    <div class="card-body">
        {% for review in review_list|slice:":5" %}
            <div class="container my-div-style">
                <div class="row">
                    <div class="col-9">
                        {% if review.photo %}
                        <div class="col-md-2"><img class="card-img-top mb-5 mb-md-0" src="{{ review.photo.url }}" alt="..." /></div>
                        {% else %}
                        <div class="col-md-2"><img class="card-img-top mb-5 mb-md-0" src="{% static 'assets/img/no_image.jpeg' %}" alt="..." /></div>
                        {% endif %}

                        <h6>{{ review.review_title }}</h6>

                        <div class="inline-block_test">
                            <p>{{ review.created_by }}</p>
                        </div>
                        <div class="inline-block_test">
                            <p>{{ review.review }}</p>
                        </div>
                        <div class="inline-block_test">
                            <p>{{ review.review_text }}</p>
                        </div>
                        
                        <hr>
                    </div>
                </div>
            </div>
        {% empty %}
        <h4>投稿されたレビューがありません。</h4>
        {% endfor %}
        {% if review_list %}
        <a class="btn btn-primary" href="{% url 'project:word_list' object.pk %}">もっと見る</a>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %} 
