{% extends 'base.html' %}

{% load static %}

{% block head %}
<link href="{% static 'css/wordreiew_list.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
{% endblock %}

{% block contents %}

{% if messages %}
  <ul class="list-unstyled">
    {% for message in messages %}
      <li {% if message.tags %} 
        class="bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert"{% endif %}>
        {{ message }}
        <button type="button" class="close" aria_label="Close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    {% endfor %}
  </ul>
{% endif %}

 <!-- Product section 2-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image1.url }}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">カテゴリ：{{ product.category }}</div>
                <h1 class="display-5 fw-bolder">{{ product.product_name }}</h1>
                <div class="fs-5 mb-5">
                    <!--<span class="text-decoration-line-through">$45.00</span>-->
                    <span>Rakuten価格: {{ product.price1 }} JPY</span>
                    <p><span><a href="{{ product.link1 }}"><img src="{% static 'assets/img/Rakuten.png' %}" alt="RakutenLink"></a>Rakuten店舗に飛ぶ </span></p>
                </div>
                <p class="lead">{{ product.description }}</p>
            </div>
            {% if user.is_authenticated %}
                {% for like in wish_list %}
                    <button type="button" id="ajax-like" style="border:none;background:none">
                        <!-- すでにいいねしている時はfasクラス -->
                        <i class="fas fa-heart text-danger" id="like-icon"></i>
                    </button>
                    <span>いいね</span>
                {% empty %}
                    <button type="button" id="ajax-like" style="border:none;background:none">
                        <!-- いいねしていないときはfarクラス -->
                        <i class="far fa-heart text-danger" id="like-icon"></i>
                    </button>
                    <span>いいね</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<div class="d-flex justify-content-end mb-4">
    <a class="btn btn-primary float-right" href="{% url 'project:review_create' object.slug %}">レビューを投稿する</a>
</div>

<div class="card mb-4">
    <div class="card-header">レビュー一覧</div>
    <div class="card-body">
        {% for review in review_list|slice:":5" %}
            <div class="container my-div-style">
                <div class="row">
                    <div class="col-9">
                        {% if review.photo %}
                        <div class="col-md-2"><img class="card-img-top mb-5 mb-md-0" src="{{ review.photo.url }}" alt="..." /></div>
                        {% else %}
                        <div class="col-md-2"><img class="card-img-top mb-5 mb-md-0" src="{% static 'assets/img/no_image.jpeg' %}" alt="..." /></div>
                        {% endif %}

                        <a href="{% url 'project:review' review.pk %}"><h6>{{ review.review_title }}</h6></a>

                        <a href="{% url 'project:user_review_page' review.created_by.pk %}">
                        <div class="inline-block_test">
                            <p>{{ review.created_by }}</p>
                        </div></a>
                        <div class="inline-block_test">
                            <p>☆{{ review.review }}</p>
                        </div>
                        <div class="inline-block_test">
                            <p>{{ review.review_text }}</p>
                        </div>

                        {% for like in review.like_review.all %}
                            {% if forloop.last == True %}
                            <td>♡{{forloop.counter}}</td>
                            {% endif %}
                            {% empty %}
                            <td>♡0</td>
                        {% endfor %}
                        
                        <hr>
                    </div>
                </div>
            </div>
        {% empty %}
        <h4>投稿されたレビューがありません。</h4>
        {% endfor %}
        {% if review_list %}
        <a class="btn btn-primary" href="{% url 'project:word_list' object.pk %}">もっと見る</a>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %} 

{% block extrajs %}
<script type="text/javascript">
    // いいねボタンが押された時
    document.getElementById('ajax-like').addEventListener('click', e => {
        e.preventDefault();
        const url = '{% url "project:Ajax_ch_product" object.pk %}';
        fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': '{{ csrf_token }}',
        },
        }).then(response => {
        return response.json();
        }).then(response => {
        const icon = document.getElementById('like-icon')
        // いいねした時はハートを塗る
        if (response.method == 'create') {
            icon.classList.remove('far')
            icon.classList.add('fas')
            icon.id = 'like-icon'
        } else {
            icon.classList.remove('fas')
            icon.classList.add('far')
            icon.id = 'like-icon'
        }
        }).catch(error => {
        console.log(error);
        });
    });
</script>
{% endblock %}