{% extends 'base.html' %}
{% load static %}

{% block title %}ブログ詳細 | Prefecture blog{% endblock %}

{% block active_diary_list %}active{% endblock %}


{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <div class="col-3">
            {% if object.user_photo %}
            <img src="{{ object.user_photo.url }}" width="200" height="200"/>
            {% else %}
            <img class="card-img-top" src="{% static 'assets/img/no_image.jpeg' %}" alt="No image file" />
            {% endif %}
        </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>ユーザーID</strong>
        </div>
        <div class="col-9">
            {{ object.username }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>メールアドレス</strong>
        </div>
        <div class="col-9">
            {{ object.email }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>氏名</strong>
        </div>
        <div class="col-9">
            {{ object.user_name }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>誕生年</strong>
        </div>
        <div class="col-9">
            {{ object.user_birthday }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <strong>誕生月</strong>
        </div>
        <div class="col-9">
            {{ object.user_birthday_month }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <strong>誕生日</strong>
        </div>
        <div class="col-9">
            {{ object.user_birthday_day }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>性別</strong>
        </div>
        <div class="col-9">
            {{ object.user_gender }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>住んでいる地域</strong>
        </div>
        <div class="col-9">
            {{ object.user_address }}
        </div>
    </div>
</div>


    <a class="btn btn-success mt-5 mb-3" href="{% url 'project:profile_update' object.pk %}">変更</a>
</div>
{% endblock %}