{% extends 'base.html' %}
{% load static %}

{% block title %}レビュー投稿 | comparison_project{% endblock %}

{% block active_review_edit %}active{% endblock %}

{% block head %}
<link href="{% static 'css/select.css' %}" rel="stylesheet">
<link href="{% static 'css/star.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}

{% if messages %}
  <ul class="list-unstyled">
    {% for message in messages %}
      <li {% if message.tags %} 
        class="bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert"{% endif %}>
        {{ message }}
        <button type="button" class="close" aria_label="Close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<div class="container my-div-style">
    <div class="row">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table>
              <br>
              <tbody>
                  <tr>
                    <th width="500" height="50">{{ form.review.label_tag }}</th>
                    <td><div class="review">
                      {{ form.review }}
                    </td>
                  </tr>
                  <tr>
                      <th width="500" height="50">{{ form.review_title.label_tag }}</th>
                      <td>{{ form.review_title }}</td>
                  </tr>
                  <tr>
                      <th width="500" height="50">{{ form.review_text.label_tag }}</th>
                      <td>{{ form.review_text }}</td>
                  </tr>
                  <tr>
                    <th width="500" height="50">{{ form.photo.label_tag }}</th>
                    <td>{{ form.photo }}</td>
                  </tr>
              </tbody>
          </table>
          <br>
          <button class="btn btn-primary" type="submit">投稿</button>
          <input type="reset" class="btn btn-primary" value="リセット">
        </form>
    </div>
</div>
{% endblock %}