{% extends 'base.html' %}
{% load static %}

{% block title %}レビュー編集 | comparison_project{% endblock %}

{% block active_review_edit %}active{% endblock %}

{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary" type="submit">保存</button>
            <a class="btn btn-primary" href="javascript:history.back()">キャンセル</a>
        </form>
    </div>
</div>
{% endblock %}