{% extends 'base.html' %}
{% load static %}

{% block title %}Confirm sign up | Private Diary{% endblock %}

{% block active_serch %}active{% endblock %}

{% block head %}
<link href="{% static 'css/select.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<form action="{% url 'project:search_advanced' %}" method="get">
        <div class="card mb-4">
            <div class="card-body">
                <label><input class="form-control" type="text" name="keyword" id="keyword" placeholder="高度な検索" aria-label="Enter search term..." aria-describedby="button-search" /></label>
            </div>
        </div>

        <br>

        <div class="select">
            <select name="brand" id="brand">
                <option value="" selected="selected">ブランド</option>
                <option value="amazon">amazon</option>
                <option value="楽天">楽天</option>
                <option value="yahoo">yahoo</option>
            </select>
        </div>

        <div class="select">
            <select name="value" id="value">
                <option value="" selected="selected">価格</option>
                <option value="～500円">～500円</option>
                <option value="500円～1000円">500円～1000円</option>
                <option value="1000円～5000円">1000円～5000円</option>
                <option value="5000円～10000円">5000円～10000円</option>
                <option value="10000円～">10000円～</option>
            </select>
        </div>
    
        <div class="select">
            <select name="display" id="display">
                <option value="popular" selected="selected">人気順</option>
                <option value="new">新着順</option>
            </select>
        </div>

    <br>
    <input type="reset" value="リセット">
    <input type="submit" class="btn btn-primary" value="送信">
</form>

{% endblock %}