{% extends 'base.html' %}
{% load static %}

{% block title %}ユーザー詳細ページ | comparison_project{% endblock %}

{% block active_prefectures_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/wordreiew_list.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
    <div class="container px-1 px-lg-5 my-div-style">
        <div  alt="" class="float-md-start">
    <br>
    <h3 class="gazo-box">
        {% for object in user_list %}
        {% if object.user_photo %}
        <div  alt="" class="float-md-start">
        <img src="{{ object.user_photo.url }}" width="328" height="328">
        </div>
        {% else %}
            <img src="{% static 'assets/img/no_image.jpeg' %}" width="328" height="328" >
        {% endif %}
    </h3>

    <div class="row">
        <div class="col-3">
            <strong>ユーザー</strong>
        </div>
        <div class="col-9">
            {{ object.username }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <strong>登録日時</strong>
        </div>
        <div class="col-9">
            {{ object.date_joined }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <strong>口コミ数</strong>
        </div>
        <div class="col-9">
            {{ object.no_of_word }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <strong>レビュー数</strong>
        </div>
        <div class="col-9">
            {{ object.no_of_review }}
        </div>
    </div>
    {% endfor %}
</div>
</div>

<br>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">口コミ一覧</h5>
          <ul class="list-unstyled mb-9">
            {% for object in word_list|slice:":5" %}
            <li>
                <a href="{% url 'project:word_detail' object.pk %}">{{ object.word_title|truncatechars:25 }}</a>
                <p style="text-align:left">{{ object.created_at }}</p>
            </li>
            {% empty %}
            <p>口コミがありません。</p>
            {% endfor %}
            {% if word_list %}
            {% for object in user_list %}
            <a class="btn btn-primary" href="{% url 'project:word_list' object.pk %}">もっと見る</a>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">レビュー一覧</h5>
          <ul class="list-unstyled mb-9">
            {% for object in review_list|slice:":5" %}
            <li>
                <a href="{% url 'project:review' object.pk %}">{{ object.review_title|truncatechars:25 }}</a>
                <p>{{ object.created_at }}</p>
            </li>
            {% empty %}
            <p>投稿したレビューはありません</p>
            {% endfor %}
            {% if review_list %}
            {% for object in user_list %}
            <a class="btn btn-primary" href="{% url 'project:review_list' object.pk %}">もっと見る</a>
            {% endfor %}
            {% endif %}
            </ul>
        </div>
      </div>
    </div>
</div>
  
{% endblock %}