{% extends 'base.html' %}
{% load static %}

{% block title %}口コミ詳細 | comparison_project{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/heart.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<br>
<div class="container my-div-style">
    <div class="row">
        <div class="col-3">
            <strong>タイトル</strong>
        </div>
        <div class="col-9">
            {{ word.word_title }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>ユーザーID</strong>
        </div>
        <div class="col-9">
            <a href="{% url 'project:user_review_page' word.created_by.pk %}"> {{ word.created_by }} </a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>本文</strong>
        </div>
        <div class="col-9">
            {{ word.word_text|linebreaksbr }}
        </div>
    </div>

    <hr>

    {% if word.photo %}
    <div class="row">
        <div class="col-3">
            <strong>写真</strong>
        </div>
        <div class="col-3">
            <img src="{{ word.photo.url }}" width="200" height="200"/>
        </div>
    </div>
    <hr>
    {% endif %}

    {% if user.is_authenticated %}
        {% if word.created_by != user %}

            {% for like in word.like_word.all %}
                {% if like == user %}
                    <form action="{% url 'project:remove_word_wish' object.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="heart-button" name="good" value="いいねを取り消す" id="test">
                    </form>
                {% else %}
                    {% if forloop.last == True %}
                        <form action="{% url 'project:word_wish' object.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="heart-button" name="good" value="いいね" id="test">
                        </form>
                    {% endif %}
                {% endif %}
            {% empty %}
                <form action="{% url 'project:word_wish' object.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="heart-button" name="good" value="いいね" id="test">
                </form>
            {% endfor %}

        {% else %}
            <a class="btn btn-success mt-5 mb-3" href="{% url 'project:word_update' object.pk %}">編集</a>
            <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'project:word_delete' object.pk %}">削除</a>
            <br>
        {% endif %}
    {% endif %}

    <a class="btn btn-success mt-5 mb-3" href="{% url 'project:wordreiew_list' %}">口コミ掲示板へ戻る</a>
</div>
{% endblock %}l