{% extends 'base.html' %}
{% load static %}

{% block title %}口コミページ | comparison_project{% endblock %}

{% block active_project_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/wordreiew_list.css' %}" rel="stylesheet">
<link href="{% static 'css/select.css' %}" rel="stylesheet">
{% endblock %}



{% block contents %}
<div class="row gx-4 gx-lg-5 justify-content-center">
<div class="col-xl-12" >
    <div class="card" style="width: 95rem;"> 
        <div class="card-body">
            <br>
            {% for word in word_list|slice:":1" %}
            <h2>{{word.created_by}}さんの口コミ一覧</h2>
            {% endfor %}
            <br>
            {% if word_list %} 
            <table  id="dataTable" width="100%" cellspacing="50%" >
                <thead>
                    <tr>
                        <td>写真</td>
                        <td>タイトル</td>
                        <td>内容</td>
                        <td>いいね数</td>
                        <td>投稿日時</td>
                    </tr>
                </thead>

                <tbody>
                    {% for word in word_list %}
                        <tr>
                            <div class="inline-block_test">
                                {% if word.photo %}
                                <td><h3 class="gazo-box">
                                <img src="{{ word.photo.url }}" width="80" height="60"/>
                                </h3></td>
                                {% else %}
                                <td><h3 class="gazo-box">
                                    <img src="{% static 'assets/img/no_image.jpeg' %}" width="80" height="80" >
                                </h3></td>
                                {% endif %}
                            </div>

                            <td><a href="{% url 'project:word_detail' word.pk %}">
                                
                                <div class="inline-block_test">
                                    <h6>{{ word.word_title|truncatechars:10 }}</h6>
                                </div>
                           
                            </a></td>

                            <td>{{ word.word_text|truncatechars:10 }}</td>

                            {% for like in word.like_word.all %}
                                {% if forloop.last == True %}
                                <td>{{forloop.counter}}</td>
                                {% endif %}
                                {% empty %}
                                <td>0</td>
                            {% endfor %}

                            <td>{{ word.created_at}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>  
                                
            <!-- ページネーション処理 -->
            {% if is_paginated %}
            <ul class="pagination">
                <!-- 前ページへのリンク -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <!-- ページ数表示 -->
                {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}

                <!-- 次ページへのリンク -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            {% else %}
            <p>投稿している口コミはありません</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}