{% extends 'base.html' %}
{% load static %}

{% block title %}口コミ掲示板ページ | comparison_project{% endblock %}

{% block active_project_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/wordreiew_list.css' %}" rel="stylesheet">
<link href="{% static 'css/select.css' %}" rel="stylesheet">
{% endblock %}



{% block contents %}

{% if messages %}
        <ul class="list-unstyled">
        {% for message in messages %}
            <li {% if message.tags %} 
                class="bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert"{% endif %}>
            {{ message }}
            <button type="button" class="close" aria_label="Close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

<br>

<div class="row gx-4 gx-lg-5 justify-content-center">    
    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary float-right" href="{% url 'project:wordpost_create' %}">新規書き込むページ</a>
    </div>
    <h2>新着口コミ</h2>
    <p></p>
    <div class="col-xl-12" >
        <div class="card" style="width: 95rem;"> 
            <div class="card-body">  
                <table  id="dataTable" width="100%" cellspacing="50%" >
                    <thead>
                        <tr>
                            <td>写真</td>
                            <td>タイトル</td>
                            <td>ユーザーID</td>
                            <td>内容</td>
                            <td>投稿日時</td>
                        </tr>
                    </thead>

                    <tbody>
                        {% for word in word_list %}
                            <tr>
                                <div class="inline-block_test">
                                    {% if word.photo %}
                                    <td><h3 class="gazo-box">
                                    <img src="{{ word.photo.url }}" width="80" height="60"/>
                                    </h3></td>
                                    {% else %}
                                    <td><h3 class="gazo-box">
                                        <img src="{% static 'assets/img/no_image.jpeg' %}" width="80" height="60" >
                                    </h3></td>
                                    {% endif %}
                                </div>

                                <td><a href="{% url 'project:word_detail' word.pk %}">
                                    
                                    <div class="inline-block_test">
                                        <h6>{{ word.word_title|truncatechars:10 }}</h6>
                                    </div>
                            
                                </a></td>

                                <td><a href="{% url 'project:user_review_page' word.created_by.pk %}">
                                    
                                    <div class="inline-block_test">
                                        <h6>{{ word.created_by }}</h6>
                                    </div>
                            
                                </a></td>

                                <td>{{ word.word_text|truncatechars:10 }}</td>
                                <td>{{ word.created_at}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table><br><br> 
                                    
                <!-- ページネーション処理 -->
                {% if is_paginated %}
                <ul class="pagination">
                    <!-- 前ページへのリンク -->
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- ページ数表示 -->
                    {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                    {% endfor %}

                    <!-- 次ページへのリンク -->
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}