{% extends 'manage.html' %}
{% load static %}

{% block title %}検索結果{% endblock %}

{% block contents %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="col-xl-12" >
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold">
                    <span style="color:black">
                    <h4 style="text-align:center">サイトに登録したユーザーの情報モデル</h4>
                    </h5>
                </div>
      
                <div class="col-xl-12" >
                    <div class="card" style="width: 70rem;"> 
                        <div class="card-body">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <td>ユーザーID</td>
                                        <td>ユーザー名</td>
                                        <td>年齢</td>
                                        <td>性別</td>
                                        <td>住んでいる地域</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customuser in customuser_list %}
                                    <tr>
                                        <td>{{ customuser.username }}</td>
                                        <td>{{ customuser.user_name }}</td>
                                        <td>{{ customuser.user_birthday }}</td>
                                        <td>{{ customuser.user_gender }}</td>
                                        <td>{{ customuser.user_address }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                      

                            <!-- ページネーション処理 -->
                            {% if is_paginated %}
                            <ul class="pagination">
                                <!-- 前ページへのリンク -->
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}

                                <!-- ページ数表示 -->
                                {% for page_num in page_obj.paginator.page_range %}
                                {% if page_obj.number == page_num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                                {% endfor %}

                                <!-- 次ページへのリンク -->
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

{% endblock %}  
{% block script %}
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../static/js/demo/datatables-demo.js"></script>
{% endblock %}