{% extends 'manage.html' %}
{% load static %}

{% block title %}チャート{% endblock %}

{% block header %}
<div class="input-group">
    <form action="{% url 'manage:age' %}" method="get">
        <label><input class="form-control" style="width: 500px; height: 39px;" type="text" name="keyword" id="keyword" placeholder="検索したい商品を入力" aria-label="Enter search term..." aria-describedby="button-search" required="required" /></label>
        <input type="submit" class="btn btn-primary" value="検索">
    </form>
</div>
{% endblock %}

{% block contents %}
    <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-10 col-lg-12">
                <div class="card shadow mb-4">     
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="page_view"></canvas>
                        </div>    
                    </div>
                </div>
            </div>


            <!-- Donut Chart -->
            <div class="col-xl-10 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4">
                            <canvas id="myPieChart"></canvas>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block script %}
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../static/vendor/chart.js/Chart.min.js"></script>

    <!-- 年齢 -->
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["未設定", "18歳以下", "18歳から60歳まで", "60歳以上"],
            datasets: [{
            data: ['{{day}}', '{{young}}', '{{adulthood}}', '{{senior}}'],
            backgroundColor: ['#A9A9A9','#FF8C00','#1E90FF','#FFD700'],
            
            hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
            },
            title: {
            display: true,
            text: 'サイトを閲覧した人の年齢割',
            fontSize: 30,
            fontColor: "#2F4F4F"
            },
            legend: {
            display: true,
            position:'bottom'
            },
            cutoutPercentage: 80,
        },
        });
        

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart2");
        var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["未設定", "18歳以下", "18歳から60歳まで", "60歳以上"],
            datasets: [{
            data: ['{{other}}', '{{young}}', '{{adulthood}}', '{{senior}}'],
            backgroundColor: ['#1E90FF','#FF8C00','#A9A9A9','#FFD700'],
            
            hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
            },
            title: {
            display: true,
            text: 'サイトを閲覧した人の年齢割',
            fontSize: 30,
            fontColor: "#2F4F4F"
            },
            legend: {
            display: true,
            position:'bottom'
            },
            cutoutPercentage: 80,
        },
        });
    </script>
    
    <script>
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        var ctx = document.getElementById('page_view');
        var page_view = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["トップページ", "ランキング", "商品一覧", "口コミ掲示板"],
            datasets: [{
                label: "閲覧数",
                data: ['{{top}}', '{{rank}}', '{{product}}', '{{word}}'],
                backgroundColor: ['#1E90FF','#FF8C00','#A9A9A9','#FFD700'],
            }]
        },
        
        options: {
            scales: {
            yAxes: [
            {ticks: {       
            min: 0,
            max: 500,
            stepSize: 100
            }}
            ]},
            maintainAspectRatio: false,
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
            },
            title: {
            display: true,
            text: '人気のページ',
            fontSize: 30,
            fontColor: "#2F4F4F"
            },
            legend: {
            display: true,
            position:'bottom'
            },
            cutoutPercentage: 80,
        }
        })
    </script>
{% endblock %}