{% extends 'base.html' %}

{% load static %}
{% block header %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">いい部屋があるぞ</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">最新のお得情報をチェックしてみてください</p>
                <a class="btn btn-primary btn-xl" href="{% url 'map:about' %}">詳細な情報はこちら</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block contents %}
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">お客様の声</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">
                    「敷金、礼金、更新料、手数料無料というのがとても魅力でした、友人にも勧めまして、是非一緒に入居しないかということで勧めました」
                    ‐千葉にあるビレッジハウスの物件に住んでいるお客様</p>
                <a class="btn btn-light btn-xl" href="{% url 'map:storefront' %}">営業時間はこちらから</a> 
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">私たちのサービスは</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">無料</h3>
                    <p class="text-muted mb-0">敷金、礼金、更新料、手数料すべて０円です。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">最新情報</h3>
                    <p class="text-muted mb-0">ご契約いただいた方に最大30,000円分引越しサポート！</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">お得な情報</h3>
                    <p class="text-muted mb-0">家賃キャッシュバック＆カーテンシーリングライト合わせて最大30,000円分 サポート！</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">保証人不要</h3>
                    <p class="text-muted mb-0">ビレッジハウスなら引越し代金もおトクに！</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/1.jpg' %}" title="T15東京">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/1.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">東京都</div>
                        <div class="project-name">T15東京</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/2.jpg' %}" title="C73千葉">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">千葉県</div>
                        <div class="project-name">C73千葉</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/3.jpg' %}" title="K67神奈川">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/3.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">神奈川県</div>
                        <div class="project-name">K67神奈川</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/4.jpg' %}" title="I11茨城">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">茨城県</div>
                        <div class="project-name">I11茨城</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static '/img/portfolio/fullsize/5.jpg' %}" title="S82埼玉">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/5.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">埼玉県</div>
                        <div class="project-name">S82埼玉</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/6.jpg' %}" title="Y31山梨">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/6.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">山梨県</div>
                        <div class="project-name">Y31山梨</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">引っ越しにしますか</h2>
        {% if user.is_authenticated %}
        <a class="btn btn-light btn-xl {% block active_inquiry %}{% endblock %}" href="{% url 'map:inquiry' %}">お問い合わせへ</a>
        {% else %} 
        <a class="btn btn-light btn-xl {% block active_signup %}{% endblock %}" href="{% url 'account_signup' %}">登録画面へ</a>
        {% endif %}
    </div>
</section>


{% endblock %}
