{% extends 'base.html' %}

{% load static %}
<title>{% block title %}{% endblock %} Product List</title>

{% block contents %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">マップハウジング</h1>
        <p class="lead text-muted">世界最大の都市へのヒントと秘密はすぐにわかります。銀行システムをナビゲートする、どの電話プランを取得する必要があるかを把握する、
            公共交通機関で自分をだまされないようにする方法を知るなど、私たちは必要不可欠なものを手に入れました。ここで東京の専門家になります。</p>
        <p>
        {% if user.is_authenticated %}
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-outline-primary my-2">今すぐに登録</a>
        <a href="{% url 'account_login' %}" class="btn btn-primary my-2">ログイン</a>
        {% endif %}
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      {% if not products %}
      <div class="col-12">何もないです。情報は見つけられません。</div>
      {% else %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image1.url }}">

            <div class="card-body">
              <p class="card-text"></p>
              <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}